@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;600&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Yaldevi', sans-serif;
}
span{
  color: #fc5c65;
  font-weight:900;

}

footer{
  background: #ffffff;
  padding: 90px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{
  width: 180px;
}

.right-col h1{
  font-size: 26px;
}

.border{
  width: 100px;
  height: 4px;
  background: #7b00ff;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn{
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #7b00ff;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  opacity: .7;
}

.page-content{
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#2C2C2E;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
    label, input {
    position: relative;
    padding-left: 10px;
    font-size: 15px;
  }
    .container {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  
  .card {
  height: 300px;
  width: 900px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  margin: 0px 50px 0px 50px;
  }

  .submit{
    flex: 1;
    width: 10px;
    height: 40px;
    padding: 2px 5px;
    font-size: 16px;
    color: #FFFFFF;
    background: #7000FF;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
  }

  input {
    border: 2px solid #aeaeb5;
    border-color: #7000FF;
    border-radius: 6px;
    font-size: 20px;

  }
  input:focus {
    outline: none;
    border-color: #6f00b9;
    box-shadow: 0 0 10px #6f00b9;
  } 

  body {
    font-family: 'Yaldevi', sans-serif;
  
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background: #FFFFFF;
}

.brand a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-left: 3rem;
}

li > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-weight: 500;
}


li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #fff;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

li:hover::after {
    width: 2rem;
}

.greeting{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}