<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pharmy Tweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/logo.svg" type="image/x-icon">

    <link rel="stylesheet" href="/static/style.css">

    <script>
        function showGreeting() {
            const myDate = new Date();
            const hrs = myDate.getHours();

            let greet;

            if (hrs < 12)
                greet = 'Good Morning';
            else if (hrs >= 12 && hrs <= 17)
                greet = 'Good Afternoon';
            else if (hrs >= 17 && hrs <= 24)
                greet = 'Good Evening';

            document.getElementById('lblGreetings').innerHTML =
                '<b>' + greet + ' and welcome to PharmyTweet!';

            const btn = document.querySelector('#btn');
            const radioButtons = document.querySelectorAll('input[name="size"]');
            btn.addEventListener("click", () => {
                let selectedSize;
                for (const radioButton of radioButtons) {
                    if (radioButton.checked) {
                        selectedSize = radioButton.value;
                        break;
                    }
                }
            });
        }

        window.onload = showGreeting;

        function rangeOrAmountFromCheck() {
            if (document.getElementById('range').checked) {
                document.getElementById('amount_input').style.display = 'none';
                document.getElementById('end_date_input').style.display = 'block';
            } else {
                document.getElementById('amount_input').style.display = 'block';
                document.getElementById('end_date_input').style.display = 'none';
            }
        }
    </script>
</head>

<body>

    <header>
        <div>
            <a href="#"><img src="/static/images/full-logo.svg" class="logo" alt="logo"></a>
        </div>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <h2 class="greeting" id="lblGreetings"></h2>

    <main class="container">
        <div class="left">
            <form method="post">
                <div class="marginTop">
                    <div class="inputTextMiddle">
                        <img src="/static/images/user.svg">
                        <label for="name">Twitter name:</label><br>
                    </div>
                    <input type="text" id="name" name="name">
                </div>

                <div>
                    <input class="marginTop" type="radio" onclick="rangeOrAmountFromCheck();" id="range"
                        name="rangeOrAmountFrom" value="range" checked>
                    <label for="range">Select period</label><br>

                    <input class="marginTop" type="radio" onclick="rangeOrAmountFromCheck();" id="amountFrom"
                        name="rangeOrAmountFrom" value="amountFrom">
                    <label for="amountFrom">Number of tweets from a date</label><br>
                </div>

                <div class="marginTop">
                    <div class="inputTextMiddle">
                        <img src="/static/images/datelogo-1.svg">
                        <label for="begin_date">Begin date:</label><br>
                    </div>
                    <input type="date" id="begin_date" name="begin_date">
                </div>

                <div class="marginTop" id="end_date_input">
                    <div class="inputTextMiddle">
                        <img src="/static/images/datelogo-19.svg">
                        <label for="end_date">End date:</label><br>
                    </div>
                    <input type="date" id="end_date" name="end_date">
                </div>

                <div class="marginTop" id="amount_input" style="display: none">
                    <div class="inputTextMiddle">
                        <img src="/static/images/number-icon.svg">
                        <label for="amount">Amount of tweets:</label><br>
                    </div>
                    <input type="number" min="1" max="32" id="amount" name="amount">
                </div>

                <div class="marginTop">
                    <input type="checkbox" id="show_tweets" name="show_tweets">
                    <label for="show_tweets">Show tweets</label><br>
                </div>

                <div class="marginTop">
                    <input class="submit" type="submit" value="Submit">
                </div>
            </form>
        </div>

        <div class="right">
            <h3>Resultaat</h3>
            <table>
                <tr>
                    <th>Sentiment</th>
                    <th>Tweet</th>
                </tr>
                {% for tweet, score in tweets %}
                <tr>
                    <td>
                        {% if score < -0.05 %}Negative{% elif score> 0.05 %}Positive{% else %}Neutral{% endif %}
                    </td>
                    <td>
                        {{tweet}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <div class="left-col">
                <img src="/static/images/full-logo.svg" class="logo">
                <p class="rights-text">© 2022 Created By <b>Farmy Tweet</b> All Rights Reserved.</p>
            </div>

            <div class="right-col">
                <h1>Pharmy Tweet </h1>
                <div class="border"></div>
                <p>Get the freshest news from us!</p><br>
                <form class="newsletter-form">
                    <input class="txtb" type="text" placeholder="Enter Your Email">
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </footer>

</body>

</html>
